@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Montserrat:wght@500;600;800&family=Mukta:wght@700&family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    width: 50%;
}
nav ul li{
    font-family: 'Poppins', sans-serif ;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}
nav ul li a:hover{
    color: rgb(255, 187, 0);;
}
.logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
}
.logo span{
    color: rgb(255, 187, 0);
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    align-items: center;
}
.container::before{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    background-image: url(https://imageio.forbes.com/specials-images/imageserve/675172642/pura-ulun-danu-bratan-temple-in-Bali-/960x0.jpg?format=jpg&width=960);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(20%);
}
.main-text{
    filter: brightness(100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 10%;
    opacity: 1;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
}
.main-text ul{
    display: flex;
    width: 12%;
    justify-content: space-between;
}
.main-text ul li{
    list-style: none;
}
.main-text p{
    width: 500px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 2%;
}
.main-text h2 span i{
    color: rgb(255, 187, 0);;
}
.hero-content{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-text p{
    font-family: 'Poppins', sans-serif;
}
.main-text h2{
    font-weight: 500;
}
.main-text .ttl span{
    color: rgb(255, 187, 0);
}
.img-slideshow{
    display: flex;
    justify-content: center;
    width: 50%;
    overflow: hidden;
    opacity: 0.8;
}
.img-slideshow .picture-wrapper{
    border-radius: 50%;
    overflow: hidden;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
}
.img-slideshow .picture-wrapper:nth-child(2){
    display: none;
}
.img-slideshow .picture-wrapper:nth-child(3){
    display: none;
}
.img-slideshow .wrapper{
    padding: 10px;
    border-radius: 50%;
    border: 7px solid rgb(255, 187, 0);;
}
.picture-wrapper img{
    width: 100%;
    transform: scale(1.9) translate(-90px, 0px);
}
.container-2{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.container-2{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans serif;
}
.container-2 h1{
    font-size: 40px;
}
.container-2 .row{
    width: 90%;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-2 .row .card{
    width: 400px;
    height: 420px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card .text{
    text-align: left;
    padding: 10px;
} 
.card .text p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    opacity: 0.7;
}
.card .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.card .header .star-rate{
    display: flex;
}
.card .header .star-rate img{
    width: 20px;
    height: 20px;
}
.card .text button{
    padding: 10px;
    background-color:  rgb(255, 187, 0);
    outline: none;
    border: none;
    color: white;
    font-family: 'Montserrat', sans serif;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.card img{
    width: 100%;
    transition: all 0.2s ease-in-out;
}
.card img:hover{
    transform: scale(1.1);
    filter: brightness(60%);
}
.card .wrapper{
    width: 100%;
    height: 220px;
    overflow: hidden;
}
@media screen and (max-width: 1200px){
    nav ul{
        width: 60%;
    }
}
@media screen and (max-width: 968px) {
    nav ul{
        width: 70%;
    }
    nav ul li{
        font-size: 13px;
    }
    .logo{
        font-size: 15px;
    }
    .main-text{
        font-size: 25px;
    }
    .main-text p{
        font-size: 15px;
        width: 100%;
    }
    .main-text ul{
        margin-top: 2%;
        width: 15%;
    }
    .wrapper{
        transform: scale(0.7);
    }
}
@media screen and (max-width: 768px) {
    nav ul{
        width: 80%;
    }
    .main-text{
        font-size: 20px;
    }
    .main-text p{
        width: 300px;
        font-size: 15px;
    }
    .main-text ul{
        width: 18%;
    }
    .wrapper{
        transform: scale(0.7);
    }
}
@media screen and (max-width: 576px) {
    .main-text{
        font-size: 25px;
        width: 100%;
    }
    .main-text p{
        font-size: 15px;
        width: 100%;
        text-align: justify;
    }
    .main-text ul{
        margin-top: 2%;
        width: 18%;
    }
    .hero-content{
        flex-wrap: wrap;
    }
    .img-slideshow{
        width: 100%;
    }
    .wrapper{
        transform: scale(0.7);
    }
    .container{
        height: 1024px;
    }
    .container::before{
        height: 1024px;
    }
}